/* ==========================================================================
   MASTER-VARIABLES FILE
   ========================================================================== */

// ONLY VARIABLES GO IN HERE!  Always suffix them with !default so they don't get overwritten if importing more than once.
// Example: $header-background-color: white !default;

/**
 * COLORS
 */
$white: #fff;
$black: #000;
$black50: rgb(127,127,127);
$darkgrey: #333;
$mediumgrey: #c3c0c5;
$lightgrey: #e8e7e8;

$bg: #e8e7e8;
$linkcolor: #739024;
$hovercolor: #739024;

$buttontop: #b6c58e;
$buttonbottom: #739024;
$buttonborder: #536e0b;

/**
 * Base
 */

$text: $black !default;

/**
 * Sizes
 */
$headerheight: 50px;
$footerheight: 160px;

/**
 * Breakpoint
 */
$breakpoint-papa: 1200px;
$breakpoint-mama: 930px;
$breakpoint-baby: 650px;
$breakpoint-flunder: 600px;
