/* ==========================================================================
   header
   ========================================================================== */

	header {
		.logo, nav, nav ul, nav ul li {
			display: inline;
		}
		nav {
			float: right;
		}

		.logo img {
			height: 30px;
		}

		&::before {
			content: "";
			position: absolute;
			height: 1px;
			width: 100%;
			bottom: -1px;
			right: 1000px;
			background-color: $mediumgrey;
		}

		position: relative;
		box-sizing: border-box;
		height: 100px;
		padding: 35px 0;
		line-height: 30px;
		border-bottom: 1px solid $mediumgrey;
	}