/* ==========================================================================
   Main
   ========================================================================== */

/* =Content
-----------------------------------------------------------------------------*/
#main {
	display: inline;
	width: 73%;
	margin-right: 2%;
	
	#maincontent {
		article {
			h6 {
				color: $mediumgrey;
			}
			h1 {
				font-family: 'Titillium Web', sans-serif;
				text-transform: uppercase;
				font-size: 2rem;
				font-weight: bold;
				.slash {
					font-family: 'Merriweather', serif;
					font-weight: bold;
				}
			}
		}
	}

	.button {
		@include background-image(linear-gradient(to bottom, $buttontop, $buttonbottom));
		color: white;
		text-align: center;
		text-shadow: 0 -1px 0 $darkgrey;
		border: 1px solid $buttonborder;
		box-shadow: 0 2px 2px 0 $mediumgrey, inset 0 1px 0 0 $white;
		border-radius: 5px;
		&:hover {
			text-decoration: none;
		}
	}
}