/* ==========================================================================
   Main
   ========================================================================== */

/* =Content
-----------------------------------------------------------------------------*/
#main {
	display: inline;
	width: 73%;
	margin-right: 2%;
	
	#maincontent {
		article {
			margin-bottom: 50px;

			.sub {
				color: $mediumgrey;
			}
			h1 {
				font-family: 'Titillium Web', sans-serif;
				text-transform: uppercase;
				font-size: 2rem;
				font-weight: bold;
				padding-bottom: 10px;
				margin-bottom: 20px;
				&.underline {
					border-bottom: 1px solid $mediumgrey;
				}
			}

			.img-left {
				float: left;
				margin: 5px 10px 0 0;
				img {
					padding: 3px;
					box-shadow: 0 0 5px 0 $mediumgrey;
					margin-bottom: -5px;
				}
				.sub {
					font-size: .7rem;
				}
			}
			ol {
				list-style: decimal;
				padding-left: 2rem;
			}
		}

		form {
			padding-bottom: 35px;
			div {
				margin-bottom: 10px;
				margin-left: 25%;
				@include breakpoint(baby) {
					margin-left: 0%;
				}
				&.form-error {
					color: red;
					display: none;
				}
			}
			label {
				display: block;
				text-align: right;
				margin-bottom: 5px;
				input, textarea {
					width: 50%;
					margin-left: 5px;
					margin-right: 25%;
					box-sizing: border-box;
					padding: 7px;
					border: 1px solid $mediumgrey;
					border-radius: 5px;
					box-shadow: inset 0 2px 3px 0 $lightgrey;
					margin-bottom: 5px;
					vertical-align: top;
					@include breakpoint(baby) {
						width: 100%;
						margin-right: 0%;
					}
				}
			}
			input[type="submit"] {
				display: block;
				float: right;
				margin-right: 25%;
				@include breakpoint(baby) {
					margin-right: 0%;
				}
			}
		}
	}

	.button {
		background-color: $buttontop;
		@include background-image(linear-gradient(to bottom, $buttontop, $buttonbottom));
		color: white;
		font-size: 1rem;
		padding: 0 20px;
		text-align: center;
		text-shadow: 0 -1px 0 $darkgrey;
		border: 1px solid $buttonborder;
		box-shadow: 0 2px 2px 0 $mediumgrey, inset 0 1px 0 0 $white;
		border-radius: 5px;
		line-height: 25px;
		&:hover {
			text-decoration: none;
		}
	}
}