/* ==========================================================================
   menu
   ========================================================================== */

nav {
	a {
		font-family: 'Titillium Web', sans-serif;
		font-size: 1.2rem;
		padding: 5px 20px;
		background: transparent;
		color: $darkgrey;
		border: 1px solid transparent;
		border-radius: 3px;
		text-transform: uppercase;
		margin-right: 20px;
		&.active, &:hover {
			text-decoration: none;
			background: $lightgrey;
			color: $darkgrey;
			border-color: $darkgrey;
		}
		@include breakpoint(baby) {
			margin: 3px 10px;
			font-size: 1rem;
			display: block;
		}
	}
}