/* ==========================================================================
   Mother
   ========================================================================== */

#maincontainer {
    margin: 0 auto;
    padding: 10px 30px;
    clear: both;
    max-width: 1000px;
    box-shadow: 0 0 10px $mediumgrey;
    background-color: $white;
    min-height: 100%;
}

/* =other
-----------------------------------------------------------------------------*/

.clear {
	clear: both;
}